 .select2-container .select2-section--single{
               height:38px !important;     
            }
            .select2-container--default .select2-section--single .select2-section__rendered{
                line-height:38px !important;
            }
            .select2-container--default .select2-section--single .select2-section__arrow{
                height:38px !important;
            }
.quantityInput{
    width:50px !important;
    padding: 6px 3px;
    text-align: center;
    border: 1px solid #cfb1b1;
    outline: 0;
    margin-right: 1px;
}